<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\python364x64\python.exe|D:\home\python364x64\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <staticContent>
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <!-- その他の必要なMIMEタイプを追加 -->
        </staticContent>
        <rewrite>
            <rules>
                <rule name="StaticFiles" stopProcessing="true">
                    <match url="^(static|media)/(.*)" />
                    <action type="Rewrite" url="{R:0}" />
                </rule>
                <rule name="Django" stopProcessing="true">
                    <match url=".*" />
                    <action type="Rewrite" url="handler.fcgi/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
